<nav class="navbar navbar-fixed-top" scroll="300" ng-class="{'nav-top-level' : !scrollOffSetExceeded && isHome }">
    <div class="full-width-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">
                    Impact Tracker
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-repeat="item in items" ng-style="{ 'font-weight': (item.label === 'Inbox' && user && unread >= 1) ? 'bold' : 'normal' }" ng-show="!item.auth || isLoggedIn()">
                        <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}<span ng-if="item.label === 'Inbox' && unread >= 1" class="badge">{{unread}}</span></a>
                    </li>
                    <li ng-show="!user"><a ui-sref="login">Login</a></li>
                    <li ng-show="user">
                        <a ng-click="logout()">Logout</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
    </div><!--/.container -->
</nav>