<div id="newSponsor">
    <form name="newSponsor">
            <h4>Donation Tiers:</h4>
            <label>25% Goal Completion</label>
            <input type="number" class="form-control" placeholder="25" ng-model="sponsor.details['25']"/>
            <label>50% Goal Completion</label>
            <input type="number" class="form-control" placeholder="50" ng-model="sponsor.details['50']"/>
            <label>75% Goal Completion</label>
            <input type="number" class="form-control" placeholder="75" ng-model="sponsor.details['75']"/>
            <label>100% Goal Completion</label>
            <input type="number" class="form-control" placeholder="100" ng-model="sponsor.details['100']"/>
            <button type="submit" ng-click="sponsorEvent(sponsor)">Post Sponsorship</button>
    </form>
</div>