<div id="newSponsor">
    <form name="newSponsor">
        <h3>Donation Tiers:</h3>
        <label>25% Goal Completion:</label>
        <input type="number" class="form-control" placeholder="25%" ng-model="sponsor.details['25']"/><br/>
        <label>50% Goal Completion:</label>
        <input type="number" class="form-control" placeholder="50%" ng-model="sponsor.details['50']"/><br/>
        <label>75% Goal Completion:</label>
        <input type="number" class="form-control" placeholder="75%" ng-model="sponsor.details['75']"/><br/>
        <label>100% Goal Completion:</label>
        <input type="number" class="form-control" placeholder="100%" ng-model="sponsor.details['100']"/><br/>
        <button class="btn btn-primary" type="submit" ng-click="sponsorEvent(sponsor)">Post Sponsorship</button>
    </form><br>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>