<div class="container header-padding">
    <form id="signUp-form" name="signUpForm" ng-submit="signUpForm.$valid && sendSignUp(signUp)" novalidate>

        <div class="alert alert-danger" ng-show="error">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>

        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input name="firstName" type="text" ng-model="signUp.firstName" class="form-control" id="firstName" placeholder="Enter First Name" required>
            <div class="alert alert-danger" ng-show="signUpForm.firstName.$error.required && signUpForm.$submitted">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <error>Error: First Name is required</error>
            </div>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input name="lastName" type="text" ng-model="signUp.lastName" class="form-control" id="lastName" placeholder="Enter Last Name" required>
            <div class="alert alert-danger" ng-show="signUpForm.lastName.$error.required && signUpForm.$submitted">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <error>Error: Last name is required</error>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email address:</label>
            <input name="email" type="text" ng-model="signUp.email" class="form-control" id="email" placeholder="Enter email" required>

            <div class="alert alert-danger" ng-show="signUpForm.email.$error.required && signUpForm.$submitted">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <error>Error: Email address is required</error>
            </div>
        </div>

        <div class="form-group">
            <label for="signup-password">Enter Password:</label>
            <input name="password" type="password" ng-model="signUp.password" class="form-control" id="signup-password" placeholder="Password" required>

            <div class="alert alert-danger" ng-show="signUpForm.password.$error.required && signUpForm.$submitted">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <error>Error: Password is required</error>
            </div>
        </div>
        <div class="form-group">
            <label for="signup-password-confirm">Confirm Password:</label>
            <input name="passwordConfirm" type="password" ng-model="signUp.passwordConfirm" class="form-control" id="signup-password-confirm" placeholder="Confirm Password" required>

            <div class="alert alert-danger" ng-show="signUp.password !== signUp.passwordConfirm && signUpForm.passwordConfirm.$touched">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <error>Error: Passwords do not match</error>
            </div>

        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
