<div class="box-container col-xs-12 col-sm-12 col-md-3 col-lg-3" event="event" ng-class="{flip : flipped}">
    <div class="box-front">
        <chart-donut event="event"></chart-donut>
        <a ng-click="boxToggle()" class="btn btn-primary event-name" ng-mouseenter="showParticipants()" ng-mouseleave="showParticipants()">
            See Participants
        </a>
    <div class="box-back">
        <div ng-repeat="challenger in event.challengers">
            <h5>{{challenger.user.email}}</h5>
            <h5>{{challenger.individualProgress*100 | number : '1'}}%</h5>
        </div>
        <a ng-click="boxToggle()" class="btn btn-primary event-name">
            See Participants
        </a>
    </div>
</div>
</div>