#event {
  background: #36465d;
  display: inline-block;
  .eventList {
    padding: 0;
  }
  .creatorBox {
    width:70px;
    height:70px;
    position: absolute;
    top:0;
    left:-90px;
    img{
      height:100%;
      width:100%;
      border-radius: 5px;
    }
  }
  .showBox {
    display:block;
  }

  .hideBox {
    display:none;
  }
  .participantsBox {
    width:220px;
    position: absolute;
    top:0;
    right:-210px;
    @include forceGpu();
    transition: all 0.2s linear;
    .eachParticipant {
      margin-bottom: 15px;
      color: white;
    }
    .participantsTitle {
      color: white;
      font-size: 15px;
    }
    img{
      height:70px;
      width:100%;
      border-radius: 5px;
    }
  }
  .impactTitle {
    text-align: center;
    color: skyblue;
    margin: 30px 0;
  }
  .eachEvent {
    @include clearfix;
    background: white;
    border: 1px solid $blue-color;
    margin-bottom: 30px;
    position: relative;
  }
  .eventInfo {
    font-style: italic;
    margin: 20px auto;
    display: table-cell;
    vertical-align: middle;
    float: none;
    .quote{
      color: #a1a1a1;
      font-size: 20px;
      margin: 0 10px;
    }
  }
  .mission{
    text-align: center;
    span {
      font-weight: bold;
    }
    .missionTitle{
      text-align: center;
      color: $off-grey-color;
      margin: 10px 0;
    }
    .missionStatement{
      color: navy;
    }
    img {
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
    }
  }
  .info{
    text-align: center;
    padding: 0;
    position: relative;
    img {
      width: 100%;
      height: 35vh;
    }
    .infoContainer{
      display: table;
      position: absolute;
      width:100%;
      height: 35vh;
      &:hover{
        .seeStoryBtn{
          opacity:1;
        }
      }
      .seeStoryBtn{
        @include forceGpu();
        transition: all 0.4s linear;
        display: table-cell;
        vertical-align: middle;
        opacity: 0;
      }
    }

  }
  .oneRow{
    padding: 0;
    border-bottom: 1px solid skyblue;
    .patientInfo{
      text-align: center;
      color: #a1a1a1;
      padding: 15px 0;
      border-bottom: 1px solid skyblue;
      font-size: 18px;
    }
  }
  .twoRow{
    display: table;
  }
  .eventProgress {
    margin: 10px auto;
    text-align: right;
    width: 30%;
    border: none;
  }
  .creatorFunctionalities {
    float:left;
    width:100%;
    text-align: center;
    margin : 0;
    padding: 0;
    button{
      @include forceGpu();
      transition: all 0.2s linear;
      &:hover {
        color:white;
        background: lighten($blue-color, 10%);
        border-color: lighten($blue-color, 10%);
      }
    }
  }
}