<div id="messageCompose" class="header-padding">

    <div class="eventList">

        <form class="messageForm" ng-submit="sendMessage(message)">
        <div class="message">
            <div class=""><h3>Send Message</h3><br/></div>
            <div class="info">
                <label>Recipient Email</label>
                <input class="form-control" ng-model="message.recipient.email"/>
            </div>
            <div class="info">
                <label>Message Title</label>
                <input class="form-control" ng-model="message.title"/>
            </div>
            <div class="info">
                <label>Message Content</label>
                <input class="form-control" style="height: 50vh;" ng-model="message.content"/>
            </div>
            <div>
                <button class="btn btn-primary" style="margin:15px;">Send Message</button>
            </div>

        </div>
        </form>
    </div>
</div>