$base-font-size : 16px;
$base-icon-height: 70px;
$panel-background: #2d3f43;
$black-color: #0c0c0c;
$blue-color: #3B62A1;
$green-color: #AADD7A;
$yellow-color: #FFE60D;
$orange-color: #E87E0C;
$pink-color: #E2587F;
$off-grey-color: #4b5c66;
$off-blue-color: #C7DEEE;
$h1-font-size: 36px;
$h2-font-size: 30px;