.initial-load-container.box-container {
    position: fixed;
    top:50vh;
    left: 50%;
    z-index: 9999;
    width: 0px;
    height: 0px;
    display:block;
    opacity: 0;
    border: 0;
    overflow: hidden;
    background: #FAFAFA;
    transform: translate3d(0,0,0);
    transition: all 0.2s linear;

    .box-absolute-center-container {
        height: 0px;
        opacity: 0;
        width: 0px;
        transform: translate3d(0,0,0);
        transition: all 0.2s linear;
    }

    .fa-spinner {
        font-size: 28px;
    }

    &.loadenabled {
        display:table;
        top:0;
        left: 0;
        width: 100%;
        height: 100vh;
        opacity: 1;

        .box-absolute-center-container {
            height: 200px;
            opacity: 1;
            width: 100%;
        }

    }
}