.navbar-fixed-top {
    box-shadow: 0px 1px 6px -4px #000;
    background: #FFF;
    .container {
        .navbar-brand {
            img {
                height: 100%;
            }
        }

        .navbar-toggle .icon-bar {
            background: #000;
        }
    }
}