<div class="profile header-padding">
    <div class="container">
        <pre> {{ user | json }}</pre>

        <div class="inactive">
            <a ng-repeat="device in link_devices" ng-click="linkDevice(device)" class="btn btn-default">Link To {{device}}</a>
            <a ng-click="refreshTokens()" class="btn btn-default">Refresh Tokens</a>
            <a ng-click="updateLogs()" class="btn btn-default">Update Logs</a>
        </div>
    </div>

    <div class="container">
        <pre>
            {{ user_log | json }}
        </pre>
        <a ng-click="getUserLogs()" class="btn btn-default">Get Logs</a>
    </div>
</div>