<div class="profile header-padding">
    <h1 class="profileTitle">{{user.username}}'s dashboard</h1>
    <div class="col-xs-8 top">
        <!--<h1>MY PROFILE</h1>-->
        <!--<a class="create-button">-->
        <!--<font-awesome font="plus" ui-sref="impactForm.create"></font-awesome>-->
        <!--<span>Create New Event</span>-->
        <!--</a>-->
        <div class="statusContainer col-xs-4">
            <div class="box-absolute-center-container">
                <h3>DISTANCE</h3>
                <h2>{{currentUserLogs.distance.toFixed(1)}}</h2>
                <h4>miles</h4>
            </div>
        </div>
        <div class="statusContainer col-xs-4">
            <div class="box-absolute-center-container">
                <h3>CALORIES</h3>
                <h2>{{currentUserLogs.calories.toFixed(0)}}</h2>
                <h4>calories</h4>
            </div>
        </div>
        <div class="statusContainer col-xs-4">
            <div class="box-absolute-center-container">
                <h3>STEPS</h3>
                <h2>{{currentUserLogs.steps.toFixed(0)}}</h2>
                <h4>steps</h4>
            </div>
        </div>
        <div class="middle col-xs-12">
            <div class = 'middleWrapper'>
                <div class="col-xs-6">
                    <h3>{{currentUserLogs.startDate}} ~ {{currentUserLogs.endDate}}</h3>
                </div>
                <div class="col-xs-6">
                    <select class="form-control" ng-change="refresh()" ng-model="currentMetric">
                        <option value="distance" selected="selected">DISTANCE</option>
                        <option value="calories">CALORIES</option>
                        <option value="steps">STEPS</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="title col-xs-12">
            <div class="title">
                <h4 ng-if="currentMetric==='distance'">DISTANCE (MILES)</h4>
                <bar-chart class="barChart" ng-if="currentMetric==='distance' && logs" log="logs" metric="distance"></bar-chart>
                <h4 ng-if="currentMetric==='steps'">STEPS (STEPS)</h4>
                <bar-chart class="barChart" ng-if="currentMetric==='steps' && logs" log="logs" metric="steps"></bar-chart>
                <h4 ng-if="currentMetric==='calories'">CALORIES (CALORIES)</h4>
                <bar-chart class="barChart" ng-if="currentMetric==='calories' && logs" log="logs" metric="calories"></bar-chart>
            </div>
        </div>
    </div>
    <div class="col-xs-4 right">
        <div class="creatorBox col-xs-12">
            <div class="profilePic col-xs-6">
                <img src="{{user.profile}}">
            </div>
            <div class="profileName col-xs-6">
                <h4>{{user.username}}</h4>
            </div>
            <button class="btn btn-default">Send Message</button>
        </div>
        <!--<h3>{{user.email}}</h3><br/>-->

        <div ng-if="user.active.length" ><h3>Current Device:</h3></div>
        <h3 class="currentDevice">{{user.active[0]}}</h3>
        <h4 ng-if="!user.active.length" class="linkDevice">Link your device</h4>

        <div class="deviceAction">
            <a ng-repeat="device in link_devices" ng-if="!user.active.length" ng-click="linkDevice(device)" class="btn btn-default">
                <!--{{device}}-->
                <img ng-if="device==='jawbone'" src="./images/jawbone.jpg">
                <img ng-if="device==='fitbit'" src="./images/fitbit.png">
            </a>
            <a ng-repeat="device in link_devices" ng-if="user.active.length && device===user.active[0]" ng-click="disconnectDevice(device)" class="btn btn-default">Disconnect {{device}}</a>

            <!--<a ng-click="refreshTokens()" class="btn btn-default">Refresh Tokens</a>-->
            <!--<a ng-click="updateLogs()" class="btn btn-default">Update Logs</a>-->
            <!--<a ng-click="getUserLogs()" class="btn btn-default">Get Logs</a>-->
        </div>
    </div>
        <div class="lastRow col-xs-12">
            <ui-view></ui-view>
        </div>
</div>