<div id="createEvent">
    <div name="createNewEvent">
        <form>
            <label>group</label>
            <input name="group" value="true" ng-value="true" class="radio-inline" type="radio" ng-model="newEvent.group" checked /> true
            <input name="group" value="false" ng-value="false" class="radio-inline" type="radio" ng-model="newEvent.group"/> false</br>
            <label>Event name</label>
            <input class="form-control" placeholder="event name" ng-model="newEvent.name"/>
            <label>Event description</label>
            <textarea rows="10" class="form-control" placeholder="description" ng-model="newEvent.description"></textarea>
            <label>Start date</label>
            <h5 ng-if="event">{{newEvent.startDate.toString().slice(0,16)}}</h5>
            <input ng-if="!event" type="date" class="form-control" ng-model="newEvent.startDate"/>
            <label>End date</label>
            <h5 ng-if="event">{{newEvent.endDate.toString().slice(0,16)}}</h5>
            <input ng-if="!event" type="date" class="form-control" ng-model="newEvent.endDate"/>
            <!--<label>Sponsor</label><input class="form-control" ng-model="newChallenge.sponsor" />-->
            <!--<label>Pledged amount</label><input class="form-control" ng-model="newEvent.pledgedAmount" />-->
            <div ng-repeat="goal in newEvent.goals">
                <label>Goal name</label>
                <h5>{{goal.metrics.measurement}}</h5>
                <label>Goal amount</label>
                <h5>{{goal.metrics.target}}</h5>
            </div>
            <div class="addNewGoal" ng-show="!event">
                <label>Select goal type</label>
                <select class="form-control" placeholder="goal type" ng-model="newGoal.metrics.measurement">
                    <option>distance</option>
                    <option>steps</option>
                    <option>calories</option>
                    <option>sleep</option>
                </select>
                <label>New goal target</label>
                <input class="form-control" placeholder="goal name" ng-model="newGoal.metrics.target"/>
                <button ng-click="addGoal(newGoal)">Add new goal</button>
            </div>
            <div class="patient">
                <button ng-click="getAllPatients()">Select your patient</button><br>
                <h4 ng-if="newEvent.patient">Selected Patient: {{newEvent.patient.name}}</h4>


                <div ng-if="patients">
                    <label>Patients</label>
                    <div ng-repeat="patient in patients">
                        <span ng-click="selectPatient({name:patient.name, token: patient.token})">{{patient.name}}</span>
                    </div>
                </div>

            </div>
            <button ng-if="!event" type="submit" ng-click="postEvent(newEvent)">Post Event</button>
            <button ng-if="event" type="submit" ng-click="editEvent(newEvent, event)">Edit Event</button>
        </form>



    </div>