<div class="header-padding">
    <p>This is Non Profit Detail</p>
    name: {{patient.name}}<br/>
    header: {{patient.header}}<br/>
    description: {{patient.description}}<br/>
    age: {{patient.age}}<br/>
    country: {{patient.country}}<br/>
<img alt={{nonprofit.name}} height="248" src={{patient.profile_url}} width="330">
    target: {{patient.target}}<br/>
    target_to_go: {{patient.target_to_go}}<br/>
    donated: {{patient.donated}}<br/>
    number_of_donors: {{patient.number_of_donors}}<br/>
</div>