<div class="header-padding nonProfit container">
    <h1>LIST OF PATIENTS</h1><br/>
    <div class="info col-md-4" ng-repeat="nonprofit in nonprofits">
        <a ng-click="getPatient(nonprofit.token)" class="clickable">
            <img alt={{nonprofit.name}} ng-src={{nonprofit.profile_url}}>
        </a>
        <div class="patientInfo">
            <p>Name: {{nonprofit.name}}</p>
            <p>Country: {{nonprofit.country}}</p>
            <a ng-click="getPatient(nonprofit.token)"
               class="clickable">
                <p class="link">Read More</p>
            </a>
            <button class="btn btn-primary sponsorPatient-btn"
                    ui-sref="impactForm.create">
                Sponsor {{nonprofit.name}}
            </button>

        </div>
    </div>
</div>