* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import 'directives/navbar';
@import 'home/main';
@import 'login/main';
@import 'dashBoard/main';