* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


@import 'variables/main';
body {
    font-family: 'Open Sans', sans-serif;
    font-size: $base-font-size;
    font-weight: 300;
    line-height: 125%;
}

.box-container {
    @include clearfix();
    background: #FFF;
    border-radius: 5px;
    height: 100%;
    padding: 0;
    overflow: hidden;

    .box-front {
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 5px;
        .box-thumbnail {
            height: 235px;
            width: 100%;
            overflow: hidden;
            position: relative;

            &:after {
                display: block;
                content: '';
                position: absolute;
                top:0;
                left:0;
                width: 100%;
                height:100%;
                z-index: 1;
                background: rgba(255,255,255,0.5);
            }

            .box-graph {
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                z-index: 2;
                img {
                    width: 90%;
                    margin: 0 auto;
                }
            }
        }
        .box-detail {
            padding: 15px;

        }
    }
}

@import 'directives/navbar';
@import 'home/main';
@import 'login/main';
@import 'dashBoard/main';