* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin forceGpu {
    transform: translate3d(0,0,0);
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@import 'variables/main';
@import 'general/main';
@import 'directives/main';
@import 'home/main';
@import 'login/main';
@import 'createEvent/main';
@import 'createChallenge/main';
@import 'event/main';
@import 'editEvent/main';
@import 'nonProfit/main';
@import 'message/main';
@import 'sponsor/main';
@import 'profile/main';


