.nonProfit {
  h1 {
    font-weight: 500;
    padding-bottom: 2%;
  }
  img {
    width: 95%;
    padding-bottom: 3%;
  }
  p {
    font-size:1.25em;
    font-weight: lighter;
  }

  .link {
    padding-bottom: 3%;
  }

  .patientInfo {
    padding-left: 2%;
  }

}