<div id="event">
    <h1>this is event page</h1>
    <div class="col-xs-2">
        left
    </div>
    <div class="eventList col-xs-8">
        <h3>List of events</h3>
        <div class="eachEvent" ng-repeat="event in events">
            <div class="info col-xs-9">
                <h5>{{event.name}}</h5>
                <h5>picutre</h5>
                <h5>{{event.description.slice(0,100)}}</h5>
            </div>
            <div class="eventProgress col-xs-3">
                <chart-box event='event'></chart-box>
            </div>
            <div class="creatorFunctionalities col-xs-12">
                <button ng-click="editEvent(event._id)">edit</button><button ng-click="deleteEvent(event)">delete</button><button ng-click="joinEvent(event)">join</button><button ng-click="leaveEvent(event)">leave</button>
            </div>
        </div>
    </div>
    <div class="col-xs-2">
        right
    </div>
</div>
