<div id="event" class="header-padding">
    <h1 class="impactTitle">IMPACT MISSIONS</h1>
    <div class="col-xs-3">

    </div>
    <div class="eventList col-xs-6">
        <div class="eachEvent" ng-repeat="event in events">
            <div class="oneRow col-xs-12">
                <h5 class="patientInfo">{{event.patient.name}} from {{event.patient.country}}</h5>
                <div class="info col-xs-8">
                    <div class="infoContainer">
                        <div class="seeStoryBtn">
                            <button class="btn btn-default"><a ui-sref="nonProfit.detail({nonProfitToken: event.patient.token})">Read Story</a></button>
                        </div>
                    </div>
                    <img src="{{event.patient.profilePic}}" />
                </div>
                <div class="mission col-xs-4">
                    <h3 class="missionTitle">MISSION</h3>
                    <h5 class="missionStatement">I am going to run for 12 miles between 1/1/2015 and 4/1/2016 for this patient.</h5>
                </div>
            </div>
            <div class="twoRow col-xs-12">
                <div class="col-xs-4">
                    <chart-box class="eventProgress" event='event'></chart-box>
                </div>
                <div class="eventInfo col-xs-8">
                    <h5>
                        <font-awesome class='quote' font="quote-left">
                        </font-awesome>
                        {{event.description.slice(0,100)}}
                        <font-awesome class='quote' font="quote-right">
                        </font-awesome>
                    </h5>
                    <h5>{{event.sponsor[0].user}}</h5>
                </div>
            </div>
            <div class="creatorFunctionalities btn-group btn-group-justified col-xs-12">
                <div class="btn-group" ng-if="event.creator._id===currentUser._id" role="group">
                    <button class='btn btn-default' ng-click="editEvent(event._id)">edit</button>
                </div>
                <div class="btn-group"  ng-if="event.creator._id===currentUser._id" role="group">
                    <button class='btn btn-default' ng-click="deleteEvent(event)">delete</button>
                </div>
                <div class="btn-group"  ng-if="!checkParticipation(event)" role="group">
                    <button class='btn btn-default' ng-click="joinEvent(event)">join</button>
                </div>
                <div class="btn-group"  ng-if="checkParticipation(event)" role="group">
                    <button class='btn btn-default' ng-click="leaveEvent(event)">leave</button>
                </div>
                <div class="btn-group"  role="group">
                    <button class='btn btn-default' ng-click="sponsorEvent(event)">sponsor</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3">

    </div>
</div>
